<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head
  <body>
	  
	<h1>使用者後台: dashboard</h1>  

	  HI <%= current_user.email %> , <%= link_to "登出" , destroy_user_session_path , :method => 'delete' %>
	     
    <%= will_paginate @paginate if @paginate %>
    
    <hr/>
    
 
    <%= yield %>
    
    <hr/>
    <%= will_paginate @paginate if @paginate %>
    
  </body>
</html>
